
h1{
    background-color: darkolivegreen;
    color: white;
    text-align: center;

}

.espacioTop{
    margin-top: 50px;
}

.espacioButtom{
    margin-bottom: 50px;
}

.fondo{
    background-color: #eaf7a6;
}

.lineaGruesa{
    border: 3px solid darkgreen; 
    
}

.imgProductos{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 0.5rem;
}

.imgProductos2{
    width: 80px;
    height: 120px;
    object-fit: contain;
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 40px;
    padding-left: 10px;
    border: 2px solid darkolivegreen;
}


.colorBoton{
    color: white;
    background-color: darkolivegreen;
    
}

.colorBoton1{
    color: white;
    background-color: gray;
    width: 140px;
    height: 60px;
    margin: 40px;
}

.colorBoton:hover{
    background-color: darkolivegreen ;
    color: black;
}

.colorBoton1:hover{
    background-color: red ;
    color: black;
}

.colorBoton2{
    color: white;
    background-color: darkolivegreen;
    width: 180px;
    height: 70px;
    margin: 40px;
}

.colorBoton2:hover{
    background-color: blue ;
    color: black;
}



.ubicacion{
    margin-top: 10px;
    margin-bottom: 40px;
}

/* .tamanioLetraSw{
    font-size: 30px;
    color: red;
    
} */


.separacion{
    margin-bottom: 400px
}



#total{
    font-size: 40px;
}

.centrar{
    text-align: center;
}

.ponerDerecha{
    text-align: right;
}

.card-body{
    height: 100px;
}

.tamanio{
    width: 30px;
   
}

.tamanioVaciar{
    width: 100px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.enLineaBotones{
    display: flex;
    flex-wrap;
    justify-content: center;
}

.fa-sharp{
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.centrar{
    display: flex;
    flex-wrap;
    justify-content: center;
}

.achicar{
    color: blue;
   
}

.btn-close



